%h2 #{@post.title}
%h4 by #{@user.username}
%br
%p #{@post.content}

%a{href: "/#{@user.username}/#{@post.id}/edit"} index
%a{href: "/#{@user.username}/#{@post.id}/edit"} edit   
%a{href: "/#{@user.username}/#{@post.id}/delete"} delete