%h2 #{@post.title}
%h4 by #{@user.username}
%br
%p #{@post.content}

- if @user.id == @session[:id]

  %a{href: "/#{@user.username}/posts"} index
  %a{href: "/#{@user.username}/posts/#{@post.id}/edit"} edit   
  %form{action: "/#{@user.username}/posts/#{@post.id}/delete", method: "post", style: "display:inline"}
    %input{type: "hidden", name: "_method", value: "delete"}
    %input{type: "submit", value: "delete post"}


